

  @media (max-width :600px) {
    /********************************** start of header */
    .header-contaier{
        width: 210vw;
    }
    .header-center{
        padding: 6px 0;
    }
    
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 700%;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #ef7123;
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }
    .header-center .logo{
        width: 100vw;
    }
    .navbar a{
        display: block;
        margin: 1rem;
        padding: 20px;
        color: #fff;
    }
    .navbar a:hover{
        background: #000;
        color: #fff;
        transition: 0.2s;
    }
    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }
    .search1{
        display: none;
    }
    .header-top button{
        display: none;
    }
    .header-icons{
        display: none;
    }
    /* hero */
    .hero-contaier{
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
    height: 164vh;
}
.hero-img img {
    width: 35vw;
}
.hero-title h2 {
    font-size: 35px;
}
.hero-title{
    padding: 11px
} 

/* Recipe Listing */
.List_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* footer */
.footer-title{
    flex-direction: column;
}
.footer-title-right{
    flex-direction: column;
    gap: 0;
    margin: 28px;
}
/************************************list*/
.Filters-contaier{
    gap: 120px;
    padding: 83px 23px;
}
.Recipe_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
/************************ Detail */
.Detail-contant{
    flex-direction: column;
}
.Detail-imge img{
    width: 15vw;
    height: 100vh;
}
.Detail-tixt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* *************************************************submit */
.submit-contant{
        flex-direction: column;
    }
    .submit-imge img{
        width: 517px;
    height: 623px;
    }
    #submit-name, #submit-method, #submit-ingredients {
        width: 350px;
    }
    .submit{
        width: 350px;
    }
}
  @media (max-width :900px){
    /* start of header */
    .header-contaier{
        width: 909vw;
    }
    .header-center{
        padding: 6px 0;
    }
    .header-center .logo{
        width: 800vw;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #ef7123;
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
        width: 1291px;
    }
    .logo{
        width: 1130px;
    }
    .navbar a{
        display: block;
        margin: 1rem;
        padding: 20px;
        color: #fff;
    }
    .navbar a:hover{
        background: #000;
        color: #fff;
        transition: 0.2s;
    }
    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }
    input[type="text"]{
        display: none;
    }
    .header-top button{
        display: none;
    }
    .header-icons{
        display: none;
    }
    /* hero */
    .hero-contaier{
        width: 1255px;
    height: 442px;
    }
    /* categores Section */
   .menu-tab  {
        align-items: center;
    }
    /************************ Detail */
    .Detail-imge img{
        width: 539px;
       
    }
    /* *************************************************submit */
    .submit-imge img{
        width: 517px;
    height: 623px;
    }
    #submit-name, #submit-method, #submit-ingredients {
        width: 350px;
    }
    .submit{
        width: 350px;
    }
  }
  @media (max-width :1200px){
    /************************** start of header */
    .search1{
        font-size: 13px;
    }
.header-top button{
    font-size: 13px;
}
.header-icons{
    font-size: 13px;
}
/* hero */
.hero-contaier{
    height: 424px;
    width: 1254px;
}
.List_card {
    width: 286px;
}
  }
  